*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Popins", sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #defcf9;
}
.newsFeed-logo{
    text-transform: uppercase;
}

.newsFeed-logo img{
    width: 150px;
    border-radius: 10px;
    padding: 20px;
}

.newsFeed-logo h1{
    font-size: 7rem;
    padding: 10px;
}

.dashBoard{
    text-transform: uppercase;
}

.dashboard-feed-access{
    background-image: url(news.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-feed-access h1{
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 10px 70px;
    background-color: #cadefc;
    text-align: center;
}

#dashboard-feed-btns{
    display: flex;
    justify-content: space-between;
    gap: 150px;
}
#dashboard-feed-btns button{
    padding: 10px 50px;
    background-color: #c3bef0;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

#dashboard-feed-btns button:hover{
    transform: scale(1.1);
}

.floppy-load{
    font-size: 25px;
    margin: 0px 10px 0px 0px;
    color: green;
}

.floppy-load:hover{
    transform: scale(1.1);
}

.newLoad-icon{
    font-size: 25px;
    margin: 0px 10px 0px 0px;
    color: rgb(8, 103, 8);
}

.newLoad-icon:hover{
    transform: scale(1.1);
}

#dashboard-feed-btns a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}

.dashboard-feed-updates h1{
    text-align: center;
    padding: 20px;
    font-weight: 800;
}

.dashboard-feed-updates h2{
    text-align: center;
    padding: 20px;
}




/* newNews */

.newNews-sec{
    background-image: url(news.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: black; */
    margin: 10px;
    /* border-radius: 20px; */
    padding: 30px;
    position:sticky;
    display: block;
    left: 30px;
    top: 0px;
    z-index: 9;
}

.newNews-heading a{
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #cadefc;
    width: fit-content;
    padding: 5px 20px;
    margin:10px;
}

.newNews-heading{
    display: flex;
    gap: 10px;
    align-items: center;
    z-index: 1;
}

.newNews-heading h2{
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: rgb(147, 110, 200);
    width: fit-content;
    padding: 5px 20px;
    margin:10px;
}

.flop-save{
    text-decoration: none;
    font-size: 40px;
    color: #ffff;
    position: absolute;
    right: 0px;
    top: 10px;
    margin: 40px 50px 40px 40px;
    cursor: pointer;
}

.flop-save:hover{
    transform: scale(1.1);
}

#category{
    padding: 5px 10px;
    margin: 8px;
    background-color: #c3bef0;
    border-radius: 8px;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
}

.subCategory{
    margin: 0 8px;
}
.subCategory button{
    padding: 5px 20px;
    margin-right: 20px;
    background-color: #c3bef0;
    border-radius: 5px;
    font-weight: 800;
    font-size: 23px;
    cursor: pointer;
}

.newNews-content{
    background-color: #cca8e9;
    margin: 15px 30px;
    padding: 40px;
    border-radius: 20px;
}

.newAuthor-category{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: 25px;
}

#new-author{
    font-size: 20px;
    display: flex;
    gap: 5px;
}
#new-author p{
   font-weight: 400;
}

.newNews-content-url{
    display: flex;
    gap: 2px;
}

.newNews-content-url a{
    text-decoration: none;
    font-weight: 700;
    color: blue;
}

.fa-heart{
    font-size: 30px;
    position: absolute;
    right: 50px;
    margin: 0 5px;
    z-index: 1;
}

.transparent{
    color: white;
}

/* savedNews */

.savedNews-sec{
    background-color: black;
    margin: 10px;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.savedNews-sec a{
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #cadefc;
    width: fit-content;
    padding: 5px 20px;
    margin:10px;
}

.savedNews-sec button{
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: rgb(147, 110, 200);
    width: fit-content;
    padding: 5px 20px;
    margin:10px;
    cursor: pointer;
}

.xmark{
    font-size: 30px;
    position: absolute;
    right: 50px;
    margin: 0 5px;
    z-index: 1;
}

.black-icon{
    color: white;
}

.new-icon{
     text-decoration: none;
    font-size: 40px;
    color: #cadefc;
    position: absolute;
    right: 50px;
    top: 10px;
    margin: 40px 50px 40px 40px;
    z-index: 1;
}

.svd{
    display: none;
}



.typewriter {
    overflow: hidden;
    border-right: 1px solid blue;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(20, start),
        blink-caret .75s step-end 5s;
}

@keyframes typing {
    from { width: 0 }
    to { width: 70% }
}

/* @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
} */