* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Popins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #d4eddd;
}
.newsFeed-logo {
  text-transform: uppercase;
}

.newsFeed-logo img {
  width: 150px;
  border-radius: 10px;
  padding: 20px;
}

.newsFeed-logo h1 {
  font-size: 80px;
  font-weight: 700;
  padding: 10px;
}

.dashBoard {
  text-transform: uppercase;
}

.dashboard-feed-access {
  background-image: url(news.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-feed-access h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 10px 70px;
  background-color: rgb(221, 241, 181);
  text-align: center;
}

#dashboard-feed-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 150px;
}

#dashboard-feed-btns button:hover {
  transform: scale(1.1);
}

.floppy-load {
  font-size: 25px;
  margin: 0px 10px 0px 0px;
  color: green;
}

.floppy-load:hover {
  transform: scale(1.1);
}

.newLoad-icon {
  font-size: 25px;
  margin: 0px 10px 0px 0px;
  color: rgb(8, 103, 8);
}

.newLoad-icon:hover {
  transform: scale(1.1);
}

#dashboard-feed-btns a {
  text-decoration: none;
  color: black;
  padding: 10px 50px;
  background-color: #bef0d0;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

.dashboard-feed-updates h1 {
  text-align: center;
  padding: 20px;
  font-weight: 800;
}

.dashboard-feed-updates h2 {
  text-align: center;
  padding: 20px;
}

.copyright{
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  position: relative;
  top: 20px;
}

/*dashboard*/

@media only screen and (max-width: 600px) {
  .newsFeed-logo img {
    width: 100px;
  }

  .newsFeed-logo h1 {
    font-size: 30px;
  }

  .dashboard-feed-access h1 {
    font-size: 30px;
    text-wrap: nowrap;
  }

  #dashboard-feed-btns button {
    padding: 10px 0px;
    margin: 5px;
    font-size: 10px;
    text-wrap: nowrap;
  }

  #dashboard-feed-btns {
    gap: 50px;
  }

  .floppy-load {
    font-size: 15px;
    margin: 0px 5px 0px 0px;
  }

  .newLoad-icon {
    font-size: 15px;
    margin: 0px 5px 0px 0px;
  }
}

@media only screen and (min-width: 601px) and (max-width:900px) {
  .newsFeed-logo img {
    width: 100px;
  }

  .newsFeed-logo h1 {
    font-size: 50px;
  }

  .dashboard-feed-access h1 {
    font-size: 30px;
    text-wrap: nowrap;
  }

  #dashboard-feed-btns button {
    padding: 10px 0px;
    margin: 5px;
    font-size: 20px;
    text-wrap: nowrap;
  }

  #dashboard-feed-btns {
    gap: 50px;
  }

  .floppy-load {
    font-size: 20px;
    margin: 0px 5px 0px 0px;
  }

  .newLoad-icon {
    font-size: 20px;
    margin: 0px 5px 0px 0px;
  }
}
