* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Popins", sans-serif;
  scroll-behavior: smooth;
}

#empty{
  font-size: 30px;
  font-weight: 700;
  padding: 70px;
  margin: 80px auto;
  color: black;
  background-color: rgb(221, 241, 181);
  width: fit-content;
  text-align: center;
  border: 2px solid black;
  box-shadow: 2px 4px 8px black;
  display: none;
}
/* savedNews */

.alertMessage {
    font-size: 20px;
    width: fit-content; 
    color: red;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 8px black;
    position: sticky;
    bottom: 300px;
    margin: 0 auto;
    z-index: 111;
  }
  
  .savedNews-sec {
    background-color: black;
    margin: 10px;
    background-image: url(../news.jpg);
    background-size: cover;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
  
  .savedNews-sec a {
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: rgb(221, 241, 181);
    width: fit-content;
    padding: 5px 20px;
    margin: 40px 10px;
  }
  
  .savedNews-sec h1 {
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #bef0d0;
    width: fit-content;
    padding: 5px 20px;
    margin: 10px;
    cursor: pointer;
  }
  
  .xmark {
    font-size: 30px;
    position: absolute;
    right: 50px;
    margin: 0 5px;
    z-index: 1;
    cursor: pointer;
  }
  
  .black-icon {
    color: white;
  }
  
  .new-icon {
    text-decoration: none;
    font-size: 40px;
    color: white;
    cursor: pointer;
    z-index: 1;
  }
  
  .new-icon:hover {
    transform: scale(1.1);
  }
  
  .svd {
    display: none;
  }
  
  .typewriter {
    overflow: hidden;
    border-right: 1px;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 4s steps(30, start);
  }
  
  @keyframes typing {
    0% {
      width: 0;
      color: rgba(128, 128, 128, 0.153);
    }
    25% {
      width: 25%;
      color: rgba(192, 201, 36, 0.775);
    }
    50% {
      width: 50%;
      color: rgba(226, 24, 24, 0.729);
    }
    750% {
      width: 75%;
      color: rgba(19, 218, 115, 0.852);
    }
    100% {
      width: 100%;
      color: black;
    }
  }
  
  .savedNews-content {
    background-color: rgb(221, 241, 181);
    margin: 10px auto;
    padding: 40px;
    box-shadow: 0 0px 5px rgb(1, 17, 17);
    position: relative;
    width: 98vw;
  }
  
  .savedAuthor-category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: 25px;
  }
  
  #saved-author {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  #saved-author p {
    font-weight: 400;
  }
  
  .savedNews-content-url {
    display: flex;
    gap: 2px;
  }
  .savedNews-content-url p{
    font-size: 20px;
  }
  
  .savedNews-content-url a {
    font-size: 15px;
    text-decoration: none;
    font-weight: 700;
    color: blue;
  }
  
  .fa-heart {
    font-size: 30px;
    position: absolute;
    right: 30px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .transparent {
    color: white;
  }
  
  /* Responsiveness */
  
  /* SavedNews */
  @media only screen and (max-width: 600px) {
    .savedNews-sec {
      width: 98vw;
      margin: 5px;
      gap: 5px;
    }
    .savedNews-sec a {
      font-size: 10px;
      text-wrap: nowrap;
    }
  
    .new-icon {
      font-size: 30px;
    }
  
    .savedNews-sec h1 {
      font-size: 10px;
      text-wrap: nowrap;
    }
  
    .savedNews-content {
      width: 97vw;
      text-wrap: wrap;
      margin: 5px auto;
      padding: 30px 20px;
    }
  
    .savedAuthor-category {
      bottom: 25px;
    }
  
    #saved-author {
      font-size: 15px;
      gap: 5px;
    }
  
    .savedNews-content-url {
      font-size: 15px;
    }
  
    .savedNews-content-url a {
      font-size: 13px;
      color: blue;
    }
    .savedNews-content-url p {
      font-size: 15px;
    }
  
    .xmark {
      font-size: 25px;
      right: 10px;
      bottom: 10px;
      margin: 0 5px;
    }
  }
  
  @media only screen and (min-width: 601px) and (max-width:900px) {
    .savedNews-sec {
      width: 98vw;
    }
  
    .savedNews-sec a {
      text-wrap: nowrap;
      font-size: 20px;
    }
  
    .new-icon {
      font-size: 35px;
      margin: 25px 15px;
    }
  
    .savedNews-sec h1 {
      text-wrap: nowrap;
      font-size: 20px;
    }
  
    .savedNews-content {
      width: 98vw;
      text-wrap: wrap;
      margin: 10px;
      padding: 30px 20px;
    }
  
    #saved-author {
      font-size: 15px;
      gap: 5px;
    }
  
    .savedNews-content-url {
      font-size: 15px;
    }
  
    .savedNews-content-url a {
      font-size: 14px;
      color: blue;
    }

    .savedNews-content-url p {
      font-size: 17px;
    }
  
    .xmark {
      font-size: 27px;
      right: 10px;
      bottom: 10px;
      margin: 0 5px;
    }
  }
  
  