* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Popins", sans-serif;
  scroll-behavior: smooth;
}
/* newNews */

.newNews-section {
  height: 300px;
  overflow: auto;
}

.newNews-sec {
  background-image: url(../news.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  padding: 30px;
  position: sticky;
  display: block;
  left: 30px;
  top: 0px;
  z-index: 9;
}

.newNews-heading a {
  text-decoration: none;
  color: black;
  font-size: 2vw;
  font-weight: 800;
  text-transform: uppercase;
  background-color: rgb(221, 241, 181);
  width: fit-content;
  padding: 5px 20px;
  margin: 10px;
}

.newNews-heading {
  display: flex;
  gap: 10px;
  align-items: center;
  z-index: 1;
}

.newNews-heading h2 {
  text-decoration: none;
  color: black;
  font-size: 2vw;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #bef0d0;
  width: fit-content;
  padding: 5px 20px;
  margin: 10px;
}

.section-container {
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  gap: 30px;
}

.newNews-content {
  background-color: rgb(221, 241, 181);
  border: none;
  box-shadow: 0 0px 5px rgb(1, 17, 17);
  margin: 15px auto;
  padding: 40px;
  position: relative;
  width: 97vw;
}

.newAuthor-category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 25px;
}

#new-author {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}
#new-author p {
  font-weight: 400;
}

.newNews-content-url {
  display: flex;
  align-items: center;
  gap: 2px;
}

.newNews-content-url a {
  text-decoration: none;
  font-weight: 700;
  color: blue;
}
.newNews-content-url p {
  font-size: 20px;
}

.fa-heart {
  font-size: 30px;
  position: absolute;
  right: 30px;
  bottom: 10px;
  margin: 0 5px;
  cursor: pointer;
}

.transparent {
  color: white;
}

#newNews {
  margin: 0px;
}

.floating-heading {
  background-color: rgb(221, 241, 181);
  margin: 0 10px;
  padding: 20px;
  position: sticky;
  top: 100px;
  overflow: hidden;
  z-index: 99;
  display: flex;
  align-items: center;
}

.floating-heading h2 {
  font-size: 15px;
  font-weight: 400;
  color: red;
  width: fit-content;
  animation: floating-heading 10s linear infinite;
  position: absolute;
}

@keyframes floating-heading {
  0% {
    left: 100%;
    text-wrap: nowrap;
  }
  100% {
    left: 0%;
    text-wrap: nowrap;
  }
}

.floating-heading a {
  text-decoration: none;
  font-weight: 600;
  color: blue;
}

/* category container */

.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  background-color: #bef0d0;
  position: sticky;
  margin-top: 10px;
  top: 130px;
  padding: 20px;
  z-index: 1211;
}
.flop-save {
  font-size: 40px;
  border-radius: 5px;
  cursor: pointer;
  color: red;
  cursor: pointer;
}
.flop-save:hover {
  transform: scale(1.1);
}

.select-category {
  display: flex;
  align-items: center;
  gap: 50px;
}

#category {
  padding: 5px 10px;
  margin: 8px;
  background-color: rgb(221, 241, 181);
  border: none;
  font-weight: 800;
  font-size: 25px;
}

.subCategory {
  width: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.subCategory button {
  padding: 15px;
  margin: 15px;
  background-color: #c3bef0;
  border: none;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(42, 36, 36, 0.921);
  transition: box-shadow 1s ease;
}

.subCategory button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(248, 245, 245, 0.921);
}

#all {
  background-color: chocolate;
}
#business {
  background-color: yellow;
}
#sports {
  background-color: green;
}
#india {
  background-color: pink;
}
#hatke {
  background-color: rgb(73, 73, 199);
}
#politics {
  background-color: red;
}
#automobile {
  background-color: darkgoldenrod;
}
#science {
  background-color: fuchsia;
}

/* loader */

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #db3434;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  z-index: 1111;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* NewNews */

@media only screen and (max-width: 600px) {
  .section-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .newNews-heading a {
    font-size: 15px;
    text-wrap: nowrap;
  }
  .newNews-heading h2 {
    font-size: 15px;
    text-wrap: nowrap;
  }

  .newNews-content {
    width: 95vw;
    margin: 5px;
    padding: 30px;
    margin: 10px auto;
  }

  .subCategory button {
      padding: 10px;
      margin: 5px;
      font-size: 13px;
    }

  .category-container{
    padding: 5px;
    z-index: 999;
    margin: 0;
    background-color: #3498db;
  }

  #category{
    font-size: 15px;
  }

  .newNews-content-url p {
    font-size: 15px;
  }

    .flop-save {
      font-size: 25px;
    }

  .floating-heading {
    top: 90px;
  }

  .fa-heart {
    font-size: 20px;
    right: 10px;
    bottom: 10px;
  }

  #new-author {
      font-size: 15px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .section-container {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }
  
    .newNews-heading a {
      text-wrap: nowrap;
    }
    .newNews-heading h2 {
      text-wrap: nowrap;
    }
  
    .newNews-content {
      width: 97vw;
      margin: 10px auto;
      padding: 30px;
      margin: 10px auto;
    }
  
    .category-container {
      width: 98vw;
      padding: 10px;
      margin: 5px auto;
      background-color: aquamarine;
      z-index: 999;
    }

    .subCategory button {
        padding: 10px;
        margin: 10px;
        font-size: 15px;
      }

      .newNews-content-url p {
        font-size: 17px;
      }

      .flop-save {
        font-size: 30px;
      }
  
    .floating-heading {
      width: 98vw;
      margin: 5px auto;
    }
  
    .fa-heart {
      right: 10px;
      bottom: 5px;
    }
  }